body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255,189,89,.97);
    color: white;
    padding: 10px 0;
}

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 20px;
}

a {
    color: white;
    text-decoration: none;
}

.programmingcourses{
  color: #36414D;
  font-size: 16px;
  font-weight: 400;
  width: 750px;
  text-align: left;
  padding-bottom: 50px;
  padding-top: 50px;
  word-break: break-word;
}

.mainrow{
    max-width: 540px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex: wrap;
}

.text{
    align-self: center !important;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    word-break: break-word;
}

.photo{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    position: relative;
    min-height: 1px;
    margin-left: 0px;
}

h6{
    font-size: 30px;
}

.hero {
    background: url('hero-image.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.title{
    background-color: beige;
}

.button {
    position: relative;
    z-index: 2;
    background: linear-gradient(90deg, #aa81f3 40%, #00b7ff 100%);
    border-radius: 15px;
    width: 150px;
    height: 30px;

}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.feature {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
